@import url(https://fonts.google.com/specimen/Overpass);

*{
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-family: 'specimen', sans-serif;

}

body{
  display: flex;
  align-items: center;
  justify-content:center ;
  background-color: hsl(216, 12%, 8%) ;
}